APP_NAME=FeedGenius
APP_ENV=local
APP_KEY=base64:CIeir/o4FWIyWIo4N9oP3LQt48/ENzm0Sb2WdAYLfrE=
APP_DEBUG=true
APP_URL=https://smartcollegeportal.com/review-system

FRONT_END_URL=https://feed-genius.quickreview.app
FRONT_END_DASHBOARD_URL=https://app.feedgenius.ai

LOG_CHANNEL=daily
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=smartcollegeport_review_system
DB_USERNAME=smartcollegeport_rifat
DB_PASSWORD=smartcollegeport_rifat

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379




MAIL_DRIVER=smtp
MAIL_HOST="mail.smartcollegeportal.com"
MAIL_PORT=465
MAIL_USERNAME="development-dont-reply@smartcollegeportal.com"
MAIL_PASSWORD="development-dont-reply@smartcollegeportal.com"
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS="development-dont-reply@smartcollegeportal.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

SWAGGER_ENABLED=TRUE
L5_SWAGGER_CONST_HOST=https://smartcollegeportal.com/review-system/api
SEND_EMAIL=FALSE


HF_API_KEY=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
OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini

